.form {
	padding: 20px 10px 5px 20px;
	margin: 90px auto;
	border-radius: 20px;
	width: 500px;
	box-shadow: 0 0 10px #888888;
	background: grey;
	color: white;
	font-size: 20px;
}

input {
	margin-left: 50%;
}

select {
	margin-left: 50%;
}

table {
	text-align: left;
}

.submit {
	margin: 10px auto;
	width: 100%;
	font-size: 30px;
}

@media only screen (max-width: 600px){
	.form {
		width: 100px;
	}
}
